
  <div class="description">
      <%= @entry.description %>
  </div>
  <div class="large_photo">
    <img src=<%=@entry.photo %> </div>
  <div class="user"><%= @entry.user %></div>
  <div class="category"><%= @entry.category %></div>
  <div class="vote"><%= @entry.vote %></div>
