<html>
  <head>
  </head>

  <body>
    <ul>
      <% @entries.each do |entry| %>
        <li>
          <a href=<%=entry.webhome %>><%= entry.description %></a>
        </li>
        <li>
          <img src=<%=entry.photo %> </li>
        <li><%= entry.webhome %></li>
        <li><%= entry.user %></li>
        <li><%= entry.category %></li>
        <li><%= entry.vote %></li>
      <% end %>
    </ul>
  </body>
</html>
