<ul>
  <% @entries.each do |entry| %>
    <li> <%= link_to entry_path(id: entry.id) do %>
        <%= entry.description %>
        <% end %>
    </li>
    <li>
      <img src=<%=entry.photo %> </li>
    <li><%= entry.user %></li>
    <li><%= entry.category %></li>
    <li><%= entry.vote %></li>
  <% end %>
</ul>
