<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="home">
    <%= link_to root_path do %>
      Home
    <% end %>
  </div>
  <div class="submit">
    <%= link_to new_entry_path do%>
    Submit Post
    <% end %>
  </div>
</nav>

<%= yield %>

</body>
</html>
